<ion-content class="intro">
  <swiper #swiper id="introswiper" [config]="config">
    <ng-template swiperSlide>
      <h1>Welcome to your expense tracker!</h1>
      The best way to track your expenses
      <ion-button (click)="next()" expand="block" color="light"> Configure your App </ion-button>
    </ng-template>
    <ng-template swiperSlide>
      <h1>Setup Your App</h1>

      <ion-list>
        <ion-radio-group [(ngModel)]="currency">
          <ion-list-header>
            <ion-label>Currency</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Euro</ion-label>
            <ion-radio slot="start" value="eur"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Dollar</ion-label>
            <ion-radio slot="start" value="usd"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Pound</ion-label>
            <ion-radio slot="start" value="gbp"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-button (click)="saveAndStart()" expand="block" color="light"> Get Started </ion-button>
    </ng-template>
  </swiper>
</ion-content>
